<div class="form-group">
    <input ng-model="points.newPoint.title"
           ng-keypress="points.add($event)"
           class="form-control"
           placeholder="Точка {{points.items.length+1}}"
           type="text"/>
</div>
<ul id="point-list"
    class="list-group no-select"
    as-sortable="points.sortableOptions"
    ng-model="points.items">
    <li as-sortable-item=""
        ng-repeat="point in points.items"
        class="list-group-item">
            <span as-sortable-item-handle=""
                  class="row">
                <span class="col-xs-10" ng-bind="point.title"></span>
                <span class="col-xs-2 text-right">
                    <button class="btn btn-xs" ng-click="points.remove(point)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </span>
    </li>
</ul>
<div ng-if="!points.items.length">
    <h4 class="text-center">Список точек пуст</h4>
</div>
