<ya-map ya-zoom="15" ya-center="{{route.points.center}}"
        ya-event-boundschange="route.changeCenter($event)"
        ya-controls="searchControl">
    <ya-geo-object ya-source="route.points.lines" ya-options="{{route.lineSetting}}"></ya-geo-object>
    <ya-geo-object ng-repeat="point in route.points"
                   ya-source="point"
                   ya-event-geometrychange="route.changePosition($event, point)"
                   ya-options="{{route.pointSetting}}"></ya-geo-object>
</ya-map>